.btn{
    border: none;
    border-radius: 4rem;
    height: 5rem;
    width: 15rem;
    text-transform: capitalize;

    &:hover{
        cursor: pointer;
        background-color: transparent;
        border-style: solid;
        border-width: .2rem;
        border-color: $very-light-gray;
        color: $very-light-gray;
        transition: all .6s;
    }
}