@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*font-family: 'Big Shoulders Display', cursive  - 400;
font-family: 'Lexend Deca', sans-serif; - 700*/

*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
}

p,a,body{
    font-family: 'Lexend Deca', sans-serif;
}

button{
    font-family: 'Lexend Deca', sans-serif;
}

html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.attribution{
    text-align: center;
    font-size: 1.6rem;
    color: $very-dark-cyan;
    & a{
        color: $bright-orange;
        text-decoration: none;
    }
}